hr { border:0; background:#fff; color:#fff; border-bottom:1px dashed #cdcdd8; clear:both; }

/* TESTIMONIALS */
.testimonial_nav { font-size:0.9em; color:#a3a3ad; }
.testimonial_nav a { padding:1px 4px 2px 4px; border:1px solid #cdcdd8; text-decoration:none; }
.testimonial_nav a:hover { border:1px solid #69297a; background:#69297a; color:#fff; }
.testimonial_image { float:left; width:140px; padding:15px 0 0 15px; }
.testimonial_text { float:right; width:500px; padding:15px 15px 0 0; background:url(quote_marks.gif) bottom right no-repeat; }
.testimonial_text_long { padding:15px 15px 0 0; background:url(quote_marks.gif) bottom right no-repeat; position:relative; }
/* TESTIMONIALS END */

